# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("Resources/applicants_data.csv"))
                                     

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [4]:
# Check for null values in the dataset:
applicant_data_df.isnull().sum()

EIN                       0
NAME                      0
APPLICATION_TYPE          0
AFFILIATION               0
CLASSIFICATION            0
USE_CASE                  0
ORGANIZATION              0
STATUS                    0
INCOME_AMT                0
SPECIAL_CONSIDERATIONS    0
ASK_AMT                   0
IS_SUCCESSFUL             0
dtype: int64

In [5]:
# check for duplicate rows in the dataframe:
applicant_data_df.duplicated().sum()

0

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [6]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(['EIN', 'NAME'], axis=1)

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [7]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [8]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

In [9]:
# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [10]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse_output=False)
enc

OneHotEncoder(sparse_output=False)

In [11]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [12]:
# The column names should match those of the encoded variables
encoded_data.shape

(34299, 114)

In [13]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Display the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [15]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables)

# Review the DataFrame
numerical_variables_df

       STATUS   ASK_AMT  IS_SUCCESSFUL
0           1      5000              1
1           1    108590              1
2           1      5000              0
3           1      6692              1
4           1    142590              1
...       ...       ...            ...
34294       1      5000              0
34295       1      5000              0
34296       1      5000              0
34297       1      5000              1
34298       1  36500179              0

[34299 rows x 3 columns]

In [16]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
# Using the Pandas concat function, combine the DataFrames the contain the encoded categorical data and the numerical data
numerical_encoded_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Reveiw the DataFrame
numerical_encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [17]:
numerical_encoded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Columns: 117 entries, STATUS to SPECIAL_CONSIDERATIONS_Y
dtypes: float64(114), int64(3)
memory usage: 30.6 MB

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [18]:
# Define the target set y using the IS_SUCCESSFUL column
y = numerical_encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:10]

0    1
1    1
2    0
3    1
4    1
5    1
6    1
7    1
8    1
9    0
Name: IS_SUCCESSFUL, dtype: int64

In [19]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = numerical_encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [20]:
# Review the features DataFrame
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [21]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 10
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=10)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [22]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [23]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [24]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [25]:
# Define the number of hidden nodes for the first hidden layer
# We are going to use 5 hidden nodes based on the fact that initially there were 8 features in the original dataframe.
hidden_nodes_layer1 = 5

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

5

In [26]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 5 

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

5

In [27]:
# Create the Sequential model instance
nn = Sequential()

In [28]:
# Add the first hidden layer specifying the number of inputs, the number of hidden nodes, and the activation function
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [29]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [30]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [31]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 585

 dense_1 (Dense)             (None, 5)                 30

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 621
Trainable params: 621
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [32]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [33]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.6424 - accuracy: 0.6607
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5866 - accuracy: 0.7203
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5683 - accuracy: 0.7280
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5620 - accuracy: 0.7300
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5591 - accuracy: 0.7289
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5571 - accuracy: 0.7292
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5561 - accuracy: 0.7302
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5549 - accuracy: 0.7311
Epoch 9/50
804/804 [==============================] - 1s 891us/step - loss: 0.5543 - accuracy: 0.7313
Epoch 10/50
804/804 [==============================] - 1s 859us/step - loss: 0.5536 - accuracy: 0.7312
Epoch 11/50
804/804 [==============================] - 1s 932us/step - loss: 0.5529 - accuracy: 0.7325
Epoch 12/50
804/804 [==============================] - 1s 864us/step - loss: 0.5526 - accuracy: 0.7319
Epoch 13/50
804/804 [==============================] - 1s 841us/step - loss: 0.5521 - accuracy: 0.7326
Epoch 14/50
804/804 [==============================] - 1s 927us/step - loss: 0.5515 - accuracy: 0.7319
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7330
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5509 - accuracy: 0.7324
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5505 - accuracy: 0.7329
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5503 - accuracy: 0.7321
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5493 - accuracy: 0.7335
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7331
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7334
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7331
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7326
Epoch 24/50
804/804 [==============================] - 1s 897us/step - loss: 0.5466 - accuracy: 0.7342
Epoch 25/50
804/804 [==============================] - 1s 873us/step - loss: 0.5463 - accuracy: 0.7342
Epoch 26/50
804/804 [==============================] - 1s 909us/step - loss: 0.5463 - accuracy: 0.7337
Epoch 27/50
804/804 [==============================] - 1s 867us/step - loss: 0.5459 - accuracy: 0.7350
Epoch 28/50
804/804 [==============================] - 1s 878us/step - loss: 0.5458 - accuracy: 0.7343
Epoch 29/50
804/804 [==============================] - 1s 898us/step - loss: 0.5455 - accuracy: 0.7344
Epoch 30/50
804/804 [==============================] - 1s 941us/step - loss: 0.5458 - accuracy: 0.7348
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7339
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7345
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7349
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7352
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7353
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7354
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7354
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7350
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7354
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7356
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7362
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7352
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7358
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7355
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7359
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7348
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7361
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7357
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7353
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7354

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [34]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5565 - accuracy: 0.7236 - 325ms/epoch - 1ms/step
Loss: 0.5564946532249451, Accuracy: 0.7236151695251465

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [35]:
# Set the model's file path
file_path = Path("AlphabetSoup.h5")

# Export your model to an HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1 - Increase size of neural network.

In [36]:
# Define the the number of inputs (features) to the model
number_input_features_A1 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A1

116

In [37]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [38]:
# for this model will try 3 hidden layers and use the number of nodes 
# equal to the number of input features divided by 4**2 = 16
# We will end up with 7 nodes per hidden layer.
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer_A1 = (number_input_features_A1 // 4**2)

# Review the number of hidden nodes in the first layer
hidden_nodes_layer_A1

7

In [39]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [40]:
# we will setup 4 hidden layer using 7 nodes each :
nn_A1.add(Dense(units=hidden_nodes_layer_A1, input_dim=number_input_features_A1, activation="relu"))
nn_A1.add(Dense(units=hidden_nodes_layer_A1, input_dim=number_input_features_A1, activation="relu"))
nn_A1.add(Dense(units=hidden_nodes_layer_A1, input_dim=number_input_features_A1, activation="relu"))
nn_A1.add(Dense(units=hidden_nodes_layer_A1, input_dim=number_input_features_A1, activation="relu"))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="sigmoid"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 7)                 819

 dense_4 (Dense)             (None, 7)                 56

 dense_5 (Dense)             (None, 7)                 56

 dense_6 (Dense)             (None, 7)                 56

 dense_7 (Dense)             (None, 1)                 8

=================================================================
Total params: 995
Trainable params: 995
Non-trainable params: 0
_________________________________________________________________

In [41]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [42]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.6106 - accuracy: 0.6869
Epoch 2/50
804/804 [==============================] - 1s 940us/step - loss: 0.5619 - accuracy: 0.7267
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5555 - accuracy: 0.7280
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5515 - accuracy: 0.7322
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7329
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7329
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7331
Epoch 8/50
804/804 [==============================] - 1s 992us/step - loss: 0.5479 - accuracy: 0.7331
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7342
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7339
Epoch 11/50
804/804 [==============================] - 1s 928us/step - loss: 0.5462 - accuracy: 0.7339
Epoch 12/50
804/804 [==============================] - 1s 937us/step - loss: 0.5458 - accuracy: 0.7350
Epoch 13/50
804/804 [==============================] - 1s 984us/step - loss: 0.5453 - accuracy: 0.7347
Epoch 14/50
804/804 [==============================] - 1s 979us/step - loss: 0.5454 - accuracy: 0.7338
Epoch 15/50
804/804 [==============================] - 1s 981us/step - loss: 0.5448 - accuracy: 0.7352
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7343
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7352
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7353
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7365
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7358
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7352
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7355
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7360
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7358
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7348
Epoch 26/50
804/804 [==============================] - 1s 953us/step - loss: 0.5436 - accuracy: 0.7350
Epoch 27/50
804/804 [==============================] - 1s 999us/step - loss: 0.5433 - accuracy: 0.7363
Epoch 28/50
804/804 [==============================] - 1s 950us/step - loss: 0.5434 - accuracy: 0.7356
Epoch 29/50
804/804 [==============================] - 1s 924us/step - loss: 0.5432 - accuracy: 0.7361
Epoch 30/50
804/804 [==============================] - 1s 992us/step - loss: 0.5429 - accuracy: 0.7359
Epoch 31/50
804/804 [==============================] - 1s 953us/step - loss: 0.5432 - accuracy: 0.7364
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7356
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7361
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7355
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7365
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7370
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7362
Epoch 38/50
804/804 [==============================] - 1s 975us/step - loss: 0.5426 - accuracy: 0.7356
Epoch 39/50
804/804 [==============================] - 1s 987us/step - loss: 0.5425 - accuracy: 0.7366
Epoch 40/50
804/804 [==============================] - 1s 958us/step - loss: 0.5423 - accuracy: 0.7366
Epoch 41/50
804/804 [==============================] - 1s 953us/step - loss: 0.5421 - accuracy: 0.7377
Epoch 42/50
804/804 [==============================] - 1s 977us/step - loss: 0.5424 - accuracy: 0.7364
Epoch 43/50
804/804 [==============================] - 1s 996us/step - loss: 0.5421 - accuracy: 0.7367
Epoch 44/50
804/804 [==============================] - 1s 918us/step - loss: 0.5418 - accuracy: 0.7363
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7364
Epoch 46/50
804/804 [==============================] - 1s 981us/step - loss: 0.5418 - accuracy: 0.7359
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7361
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7360
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7367
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7360

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [43]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss_A1, model_accuracy_A1 = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss_A1}, Accuracy: {model_accuracy_A1}")

268/268 - 1s - loss: 0.5574 - accuracy: 0.7202 - 525ms/epoch - 2ms/step
Loss: 0.5574216842651367, Accuracy: 0.7202332615852356

In [44]:
# Set the model's file path
file_path = Path("AlphabetSoup_A1.h5")

# Export your model to an HDF5 file
nn_A1.save(file_path)

---
### Alternative Model 2 - Dropout layer.

In [45]:
# Import the `Dropout` layer
from keras.layers import Dropout

In [46]:
# Define the the number of inputs (features) to the model
number_input_features_A2 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A2

116

In [47]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [48]:
# for this model will use the number of nodes as in alternative_1 model,
# but we will add dropout lary overfitting: 
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer_A2 = (number_input_features // 4**2)

# Review the number of hidden nodes in the first layer
hidden_nodes_layer_A2

7

In [49]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [50]:
# for the dropout layers, we will calculate the dropout_probability, we will use the 
# probability of keeping a node in the layer as 75%:
keep_probability = 0.75
dropout_probability = (1 - keep_probability)
dropout_probability

0.25

In [51]:
# We will create the 3 hidden layers with Dropout(), and we will use the same number
# of nodes per layer.
# layer 1:
nn_A2.add(Dense(units=hidden_nodes_layer_A2, input_dim=number_input_features_A2, activation="relu"))
# Now add a dropout layer
# layer 2:
nn_A2.add(Dropout(dropout_probability))

# layer 3:
nn_A2.add(Dense(units=hidden_nodes_layer_A2, input_dim=number_input_features_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 7)                 819

 dropout (Dropout)           (None, 7)                 0

 dense_9 (Dense)             (None, 7)                 56

 dense_10 (Dense)            (None, 1)                 8

=================================================================
Total params: 883
Trainable params: 883
Non-trainable params: 0
_________________________________________________________________

In [52]:
# Compile the Sequential model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [53]:
# Fit the model using 50 epochs and the training data
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.6294 - accuracy: 0.6854
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5920 - accuracy: 0.7126
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5815 - accuracy: 0.7198
Epoch 4/50
804/804 [==============================] - 1s 991us/step - loss: 0.5726 - accuracy: 0.7220
Epoch 5/50
804/804 [==============================] - 1s 889us/step - loss: 0.5713 - accuracy: 0.7191
Epoch 6/50
804/804 [==============================] - 1s 934us/step - loss: 0.5710 - accuracy: 0.7180
Epoch 7/50
804/804 [==============================] - 1s 956us/step - loss: 0.5673 - accuracy: 0.7170
Epoch 8/50
804/804 [==============================] - 1s 929us/step - loss: 0.5664 - accuracy: 0.7177
Epoch 9/50
804/804 [==============================] - 1s 867us/step - loss: 0.5642 - accuracy: 0.7189
Epoch 10/50
804/804 [==============================] - 1s 920us/step - loss: 0.5620 - accuracy: 0.7214
Epoch 11/50
804/804 [==============================] - 1s 997us/step - loss: 0.5635 - accuracy: 0.7207
Epoch 12/50
804/804 [==============================] - 1s 914us/step - loss: 0.5605 - accuracy: 0.7205
Epoch 13/50
804/804 [==============================] - 1s 920us/step - loss: 0.5597 - accuracy: 0.7241
Epoch 14/50
804/804 [==============================] - 1s 933us/step - loss: 0.5604 - accuracy: 0.7241
Epoch 15/50
804/804 [==============================] - 1s 974us/step - loss: 0.5584 - accuracy: 0.7250
Epoch 16/50
804/804 [==============================] - 1s 879us/step - loss: 0.5595 - accuracy: 0.7248
Epoch 17/50
804/804 [==============================] - 1s 969us/step - loss: 0.5584 - accuracy: 0.7259
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5593 - accuracy: 0.7254
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5596 - accuracy: 0.7271
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5577 - accuracy: 0.7282
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5583 - accuracy: 0.7265
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5582 - accuracy: 0.7261
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5574 - accuracy: 0.7260
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5568 - accuracy: 0.7275
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5575 - accuracy: 0.7259
Epoch 26/50
804/804 [==============================] - 1s 986us/step - loss: 0.5570 - accuracy: 0.7261
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5580 - accuracy: 0.7251
Epoch 28/50
804/804 [==============================] - 1s 991us/step - loss: 0.5575 - accuracy: 0.7260
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5567 - accuracy: 0.7279
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5569 - accuracy: 0.7278
Epoch 31/50
804/804 [==============================] - 1s 982us/step - loss: 0.5556 - accuracy: 0.7295
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5557 - accuracy: 0.7282
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5575 - accuracy: 0.7267
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5583 - accuracy: 0.7273
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5553 - accuracy: 0.7276
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5556 - accuracy: 0.7299
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5559 - accuracy: 0.7289
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5553 - accuracy: 0.7280
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5561 - accuracy: 0.7279
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5547 - accuracy: 0.7277
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5546 - accuracy: 0.7280
Epoch 42/50
804/804 [==============================] - 1s 950us/step - loss: 0.5555 - accuracy: 0.7276
Epoch 43/50
804/804 [==============================] - 1s 979us/step - loss: 0.5565 - accuracy: 0.7284
Epoch 44/50
804/804 [==============================] - 1s 895us/step - loss: 0.5559 - accuracy: 0.7272
Epoch 45/50
804/804 [==============================] - 1s 976us/step - loss: 0.5566 - accuracy: 0.7283
Epoch 46/50
804/804 [==============================] - 1s 989us/step - loss: 0.5564 - accuracy: 0.7270
Epoch 47/50
804/804 [==============================] - 1s 919us/step - loss: 0.5548 - accuracy: 0.7276
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5556 - accuracy: 0.7301
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7271
Epoch 50/50
804/804 [==============================] - 1s 914us/step - loss: 0.5554 - accuracy: 0.7303

In [54]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss_A2, model_accuracy_A2 = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss_A2}, Accuracy: {model_accuracy_A2}")

268/268 - 0s - loss: 0.5752 - accuracy: 0.7258 - 243ms/epoch - 908us/step
Loss: 0.5752180814743042, Accuracy: 0.7258309125900269

In [55]:
# Set the model's file path
file_path = Path("AlphabetSoup_A2.h5")

# Export your model to an HDF5 file
nn_A2.save(file_path)

---
### Alternative Model 3 - Make model smaller and decrease number of epochs.

In [56]:
# Define the the number of inputs (features) to the model
number_input_features_A3 = len(X_train.iloc[0])

# Define the number of neurons in the output layer
number_output_neurons_A3 = 1

# Review the number of features# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A3 = 4
hidden_nodes_layer2_A3 = 3

# Review the number of hidden nodes in the first layer
print(f"the nodes on the first layer are: {hidden_nodes_layer1_A3}, on the second layer we have {hidden_nodes_layer2_A3} nodes.")

the nodes on the first layer are: 4, on the second layer we have 3 nodes.

In [57]:
# Create the Sequential model instance
nn_A3 = Sequential()

In [58]:
# we will setup 2 hidden layer using 4 nodes per layer:
nn_A3.add(Dense(units=hidden_nodes_layer1_A3, input_dim=number_input_features_A3, activation="relu"))
nn_A3.add(Dense(units=hidden_nodes_layer2_A3, input_dim=number_input_features_A3, activation="relu"))

# Output layer
nn_A3.add(Dense(units=number_output_neurons_A3, activation="sigmoid"))

# Check the structure of the model
nn_A3.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 4)                 468

 dense_12 (Dense)            (None, 3)                 15

 dense_13 (Dense)            (None, 1)                 4

=================================================================
Total params: 487
Trainable params: 487
Non-trainable params: 0
_________________________________________________________________

In [59]:
# Compile the Sequential model
nn_A3.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [60]:
# For this alternative model, we will use a smaller number of epochs,
# we will use 25 epochs:
fit_model_A3 = nn_A3.fit(X_train_scaled, y_train, epochs=25)

Epoch 1/25
804/804 [==============================] - 1s 917us/step - loss: 0.6252 - accuracy: 0.6788
Epoch 2/25
804/804 [==============================] - 1s 854us/step - loss: 0.5669 - accuracy: 0.7225
Epoch 3/25
804/804 [==============================] - 1s 873us/step - loss: 0.5579 - accuracy: 0.7298
Epoch 4/25
804/804 [==============================] - 1s 949us/step - loss: 0.5550 - accuracy: 0.7310
Epoch 5/25
804/804 [==============================] - 1s 861us/step - loss: 0.5535 - accuracy: 0.7307
Epoch 6/25
804/804 [==============================] - 1s 838us/step - loss: 0.5522 - accuracy: 0.7317
Epoch 7/25
804/804 [==============================] - 1s 919us/step - loss: 0.5512 - accuracy: 0.7322
Epoch 8/25
804/804 [==============================] - 1s 891us/step - loss: 0.5504 - accuracy: 0.7324
Epoch 9/25
804/804 [==============================] - 1s 851us/step - loss: 0.5501 - accuracy: 0.7322
Epoch 10/25
804/804 [==============================] - 1s 876us/step - loss: 0.5494 - accuracy: 0.7324
Epoch 11/25
804/804 [==============================] - 1s 919us/step - loss: 0.5491 - accuracy: 0.7327
Epoch 12/25
804/804 [==============================] - 1s 879us/step - loss: 0.5493 - accuracy: 0.7322
Epoch 13/25
804/804 [==============================] - 1s 840us/step - loss: 0.5486 - accuracy: 0.7325
Epoch 14/25
804/804 [==============================] - 1s 951us/step - loss: 0.5487 - accuracy: 0.7327
Epoch 15/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7324
Epoch 16/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5483 - accuracy: 0.7322
Epoch 17/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5483 - accuracy: 0.7323
Epoch 18/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7330
Epoch 19/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7329
Epoch 20/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7331
Epoch 21/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7328
Epoch 22/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7329
Epoch 23/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7331
Epoch 24/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7329
Epoch 25/25
804/804 [==============================] - 1s 894us/step - loss: 0.5475 - accuracy: 0.7336

In [61]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss_A3, model_accuracy_A3 = nn_A3.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss_A3}, Accuracy: {model_accuracy_A3}")

268/268 - 0s - loss: 0.5572 - accuracy: 0.7245 - 247ms/epoch - 923us/step
Loss: 0.5571622252464294, Accuracy: 0.7245481014251709

In [62]:
# Set the model's file path
file_path = Path("AlphabetSoup_A3.h5")

# Export your model to an HDF5 file
nn_A3.save(file_path)

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [63]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5565 - accuracy: 0.7236 - 186ms/epoch - 692us/step
Loss: 0.5564946532249451, Accuracy: 0.7236151695251465

In [64]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5574 - accuracy: 0.7202 - 183ms/epoch - 681us/step
Loss: 0.5574216842651367, Accuracy: 0.7202332615852356

In [65]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5752 - accuracy: 0.7258 - 182ms/epoch - 677us/step
Loss: 0.5752180814743042, Accuracy: 0.7258309125900269

In [66]:
print("Alternative Model 3 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A3.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 3 Results
268/268 - 0s - loss: 0.5572 - accuracy: 0.7245 - 187ms/epoch - 700us/step
Loss: 0.5571622252464294, Accuracy: 0.7245481014251709

### Step 3: Comparing the results of the 4 models:

We made significant changes in all the models and we can notice some changes in the losses and accuracy results, but these changes are small.

in the Losses resutl, I could see more changes than in the accuracy results. 

We we noticed is that we reduced the number of epochs by half in the last alternative and this did not make significant changes either. We notice that on the alternative models with 50 epochs, the losses and accuracy parameters stabilized also around the 25th epoch and did not change significantly after that epoch. So we can conclude that we do can reduce the number of epochs significantly and obtain the same results that with larger number of epochs and this have a significant impact in the time it takes to handle large data models.

# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

# Set the file path for the third alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE